@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&family=Work+Sans&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand" sans-serif;
}
body {
    background-color: aliceblue;
}
.box-formulir {
    width: 50%;
    margin: 100px auto;
    border: 1px solid;
}

.box {
    background-color: #fff;
    border: 1px solid;
    padding: 10px;
    box-sizing: border-box;
    margin: 5px 0 25px;
}

.table form {
    width: 100%;
}

.input-control {
    padding: 5px 10px;
    font-size: 16px;
    margin: 5px 0;
}

.btn-daftar {
    padding: 17px 15px;
    background-color: #4a99d7;
    color: #fff;
    border: none;
}

.btn-daftar:hover {
    cursor: pointer;
    background-color: #4881ae;
}

.btn-cetak {
    display: inline-block;
    padding: 10px 17px;
    color: #fff;
    background-color: #ff5733;
    margin-top: 5px;
}

.table data {
    width: 100%;
}

.table data tr {
    height: 30px;
}
